.logo {
  width : 100px;
  height: 100px;
  float: left;
}
.logo_text {
  float : left;
}
#main_logo {
  margin: auto;
  height: 100px;
}
.tablinks {
  display: block;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  background-color : lightgray;
  padding: 20px 138px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
#menu_bar{
  width: 100%;
}
.tabcontent {
  display: none;
}
.tabcontent > h1 {
  text-align: center;
  margin: 10px; 
}
#profile {
  padding: auto;
  background-color: lightblue;
}
.profile_h1 {

}
.profile_images {
  margin: 0 auto;
  /* background-color: aquamarine; */
  width: 500px;
  justify-content: center;
  height: 300px;
  padding: 100px 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.profile_images > .profiles {
  background-color: aliceblue;
  padding : 0 5px;
  width: 75px;
  height: 75px;
  margin : 4px;
  border : 3px solid white;
}